:root {
  --color-main: #676cdb;
  --color-accent: #3aafc9;
  --color-tomato: #f36961;
  --color-orange: #f1b457;
  --color-text: #b1b3b7;
  --color-light: #efefef;
  --color-lighter: #f5f6f7;
  --color-black: #1c232e;
  --color-darkest: #29313d;
  --color-darker: #3a424e;
  --color-dark: #5c626b;
  --font-family: "Overpass", -apple-system, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  --font-special: "Kanit", Arial, sans-serif;
  --font-regular: 400;
  --font-medium: 600;
  --font-semi-bold: 700;
  --font-bold: 800;
  --font-black: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 50%;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 1920px) {
  html {
    font-size: 75%;
  }
}

body {
  /*padding: 40px 0;*/
  line-height: 1.6;
  font-weight: var(--font-regular);
  font-size: 1.45rem;
  color: var(--color-text);
  background-color: var(--color-black);
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 1.3rem;
  }
}

img {
  width: 100%;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: auto;
}

.btn {
  text-decoration: none;
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  padding: 0.8rem 2.5rem;
  padding-top: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  font-weight: var(--font-medium);
}
.btn--main {
  background-color: var(--color-main);
  color: var(--color-light);
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.social > li > a {
  color: var(--color-text);
  font-size: 2.4rem;
  transition: all 0.3s ease-in-out;
}
.social > li > a:hover {
  color: var(--color-accent);
}

.section {
  padding: 8rem 0;
}
.section__header {
  margin-bottom: 4rem;
}
.section__header--center {
  text-align: center;
}
.section__title {
  line-height: 1.3;
  font-size: 3.2rem;
  color: var(--color-light);
  font-weight: var(--font-black);
}
@media only screen and (max-width: 900px) {
  .section__title {
    font-size: 2.6rem;
  }
}
@media only screen and (max-width: 600px) {
  .section__title {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 480px) {
  .section__title {
    font-size: 2rem;
  }
}
.section__subtitle {
  font-size: 2rem;
}
@media only screen and (max-width: 900px) {
  .section__subtitle {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 480px) {
  .section__subtitle {
    font-size: 1.6rem;
  }
}
.section__footer {
  text-align: center;
  margin-top: 4rem;
}
.section__footer a {
  font-weight: var(--font-medium);
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--color-main);
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--color-main);
  transition: all 0.3s ease-in-out;
}
.section__footer a:hover {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

@media only screen and (max-width: 900px) {
  #about .section__header,
  #contact .section__header {
    margin-bottom: 2rem;
    text-align: center;
  }
  #about .section__header::after,
  #contact .section__header::after {
    margin: auto;
    margin-top: 1.2rem;
  }
}

.header {
  padding: 0.5rem 0;
  background-color: var(--color-black);
  position: sticky;
  top: 0;
  z-index: 999;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container > * {
  flex-basis: 33.33%;
}
.header__logo > a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 5.6rem;
  line-height: 1;
  font-family: var(--font-special);
  font-weight: var(--font-bold);
  background: linear-gradient(
    180deg,
    #5dadec 35%,
    #ef9645 42%,
    #dd2e44 60%,
    #ef9645 65%,
    #ffdc5d 60%,
    #676cdb 72%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-clip: text;
}
@media only screen and (max-width: 600px) {
  .header__logo > a {
    font-size: 3.2rem;
  }
}
.header__mobile {
  display: none;
}
@media only screen and (max-width: 900px) {
  .header__mobile {
    display: flex;
    justify-content: flex-end;
  }
}
.header__resume {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 900px) {
  .header__resume {
    display: none;
  }
}
.header .navigation {
  display: flex;
  justify-content: center;
  gap: 5rem;
  opacity: 1;
  pointer-events: all;
}
.header .navigation .btn {
  display: none;
}
@media only screen and (max-width: 900px) {
  .header .navigation .btn {
    font-size: 2rem;
    padding: 1.2rem 3.5rem;
    display: block;
  }
}
@media only screen and (max-width: 900px) {
  .header .navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background: var(--color-light);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
  }
}
.header .navigation > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem;
}
@media only screen and (max-width: 900px) {
  .header .navigation > ul {
    flex-direction: column;
    font-size: 2.4rem;
    align-items: flex-start;
  }
}
.header .navigation > ul > li {
  position: relative;
}
@media only screen and (max-width: 900px) {
  .header .navigation > ul > li::before {
    display: inline-block;
    position: absolute;
    left: -3rem;
    top: calc(50% - 3px);
    content: "";
    width: 1rem;
    height: 3px;
    background-color: var(--color-accent);
  }
}
.header .navigation > ul > li > a {
  text-decoration: none;
  font-weight: var(--font-medium);
}
.header .navigation.show {
  opacity: 1;
  pointer-events: all;
  background-color: var(--color-black);
}
@media only screen and (max-width: 900px) {
  .header #navigation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.2rem;
    width: 4.2rem;
    cursor: pointer;
    font-size: 2.4rem;
    line-height: 0;
    border-radius: 50%;
    position: relative;
    z-index: 999;
    outline-color: transparent;
    border: 2px solid var(--color-darker);
    background-color: var(--color-darkest);
  }
}
@media only screen and (max-width: 600px) {
  .header #navigation-button {
    font-size: 2rem;
  }
}

.hero {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__wrapper {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}
.hero__img {
  margin-top: 6rem;
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.hero__img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 0;
  border: 0.5rem solid var(--color-black);
}
.hero__imgCircle {
  margin: 0 auto;
  margin-top: -4rem;
  height: 16rem;
  width: 16rem;
  border: 0.5rem solid var(--color-main);
  border-radius: 50%;
}
@media only screen and (max-width: 900px) {
  .hero__imgCircle {
    height: 14rem;
    width: 14rem;
  }
}
@media only screen and (max-width: 600px) {
  .hero__imgCircle {
    height: 12rem;
    width: 12rem;
  }
}
.hero__title {
  font-weight: var(--font-black);
  font-size: 4.8rem;
  line-height: 1.05;
  color: var(--color-lighter);
}
@media only screen and (max-width: 900px) {
  .hero__title {
    font-size: 4.2rem;
  }
}
@media only screen and (max-width: 900px) {
  .hero__title {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 600px) {
  .hero__title {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 480px) {
  .hero__title {
    font-size: 2.4rem;
  }
}
.hero__content {
  max-width: 65rem;
  width: 90%;
}
.hero__social {
  position: absolute;
  bottom: 6rem;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 900px) {
  .about {
    flex-direction: column-reverse;
  }
}
.about__left {
  flex-basis: 50%;
}
@media only screen and (max-width: 900px) {
  .about__left {
    flex-basis: 100%;
  }
}
.about__right {
  flex-basis: 45%;
}
@media only screen and (max-width: 900px) {
  .about__right {
    flex-basis: 100%;
    margin-bottom: 4rem;
  }
}
.about__right img {
  border-radius: 1.5rem;
}
.about__bio {
  line-height: 1.8;
  margin-bottom: 3rem;
}
.about__skillsTitle {
  color: var(--color-main);
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 900px) {
  .about__skillsTitle {
    font-size: 2rem;
  }
}
.about__skillsList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
}
@media only screen and (max-width: 900px) {
  .about__skillsList {
    gap: 1.5rem;
  }
}
.about__skillsList li {
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  color: var(--color-main);
  padding-top: 0.8rem;
  border: 2px solid var(--color-main);
  border-radius: 4rem;
}
.about__skillsList li:hover {
  background-color: var(--color-main);
  color: var(--color-light);
}
@media only screen and (max-width: 900px) {
  .about__skillsList li {
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem;
  }
}

/* Projects */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid black;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-style: double;
  border-width: 3px;
}

.grid > article img {
  max-width: 100%;
  height: 180px;
}

.grid .text {
  padding: 20px;
}

.btn-primary {
  font-weight: bold;
  /*background-color:#676cdb;*/
  margin-top: 20px;
  margin-left: 0px;
  border-width: 4px;
  border-style: groove;
  border-color: #676cdb;
  border-radius: 15px;
}

.btn-primary:hover {
  background-color: #5c63e6;
}

/* achivements */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-image2 {
  position: relative;
  width: 102%;
  height: 228px;
  overflow: hidden;
}

.product-image3 {
  position: relative;
  width: 108%;
  height: 195px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 2vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(246, 242, 242, 0) 0%,
    rgb(161 159 159 / 0%) 100%
  );
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .click-button {
    width: 30px
  }
}


.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/* Blog */

.blog {
  --template-count: 3;
  display: grid;
  grid-template-columns: repeat(var(--template-count,auto-fit), minmax(300px,350px));
  justify-content: center;
  gap: 1em;
}

@media screen and (max-width: 768px) { 
  .blog {
    --template-count: auto-fit
  }
}

.blog-box {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  background:transparent;
  border: 1px solid #011027;
  border-radius: 6px;
  min-height: 400px;
  overflow: hidden;
}

.blog-image img{
  display: block;
  width: 100%;
  min-height: 150px;
}

.blog-content,
.blog-button {
  padding-inline: 1em;
}

.blog-content h1{
  margin-top: 0.25em;
  font-size: 2rem;
}
.blog-content p{
  margin: 2rem 0;
}

.blog-button {
  border-top: 1px solid #011027;
  padding-block: 2rem;
}

.blog-button a {
  text-decoration: none;
  font-weight: bold;
  border-width: 4px;
  border-style: groove;
  border-color: #676cdb;
  border-radius: 10px;
  padding: 0.5em 0.8em;
}

.blog-button a:hover {
  background-color: #5c63e6;
}

::selection {
  color: #fff;
  background: #3ea0e2;
}
.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row {
  display: flex;
}
.wrapper .row-1 {
  justify-content: flex-start;
}
.wrapper .row-2 {
  justify-content: flex-end;
}
.wrapper .row section {
  background: #29313d;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: rgb(28, 5, 130);
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before {
  right: -7px;
}
.row-2 section::before {
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #676cdb;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #3ea0e2;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon {
  top: 15px;
  right: -60px;
}
.row-2 section .icon {
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title {
  font-size: 22px;
  font-weight: 600;
  word-break: break-all;
}
.row section p {
  margin: 10px 0 17px 0;
}
.row section .bottom a {
  text-decoration: none;
  background: #3ea0e2;
  color: rgb(255, 255, 255);
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}

.row section .right a {
  text-decoration: none;
  background: #3ea0e2;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  margin-right: 220px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}

.row section .bottom a:hover {
  transform: scale(0.97);
}

@media (max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row-1 section .icon {
    left: -60px;
  }
}
@media (max-width: 440px) {
  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .wrapper .row {
    margin: 10px 0;
  }
} */

/*Contact form*/

.contact__left {
  flex-basis: 40%;
  /* width: 400px; */
}
@media only screen and (max-width: 900px) {
  .contact__left {
    flex-basis: 100%;
  }
}
.contact__info {
  margin: 1.5rem 0;
  text-align: left;
}
@media only screen and (max-width: 900px) {
  .contact__info {
    text-align: center;
  }
}
.contact__info p {
  font-weight: var(--font-semi-bold);
}
.contact__info a {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: var(--font-bold);
  color: var(--color-main);
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 900px) {
  .contact__info a {
    font-size: 1.5rem;
  }
}
.contact__info a:hover {
  color: var(--color-accent);
}
@media only screen and (max-width: 900px) {
  .contact__info .social {
    justify-content: center;
  }
}


.contact-image {
  width: 700px;
}

.contact-image img{
  display: block;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .contact-image {
    width: auto;
  }
}
/*Footer*/

.footer__copyright {
  background-color: var(--color-darkest);
  color: var(--color-light);
  font-size: 1.8rem;
  text-align: center;
  padding: 1.8rem 0;
}
.footer__copyright a {
  color: var(--color-main);
}

.d-flex {
  display: flex;
  gap: 0.5em;
}

.justify-space-between  {
  justify-content: space-between;
}

.align-center {
  align-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}